# Merge and read csv_files

In [3]:
import pandas as pd
import glob
import os

# Path to your folder
folder_path = "../../csv_files"

# Find all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Read and concatenate all CSVs into one DataFrame
df = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True)

# Show the combined DataFrame
print(df.head())

    Name Experiment  Trial                       Sequence  \
0  julie         FR      1  a t v h q c x b j i g r o p u
1  julie         FR      2  r a x t n q z o c p e s m u f
2  julie         FR      3  c n y d x e h u a j s i k r g
3  julie         FR      4  k m f h t q o l j z u y d r a
4  julie         FR      1  m a r q f o y n x z p b i e u

                            Recall
0            o p u b i g x a t d n
1      p e s m u f x r a s p q d z
2        j s i g r x z e b c h s u
3      k m f h u d l y e g c n p a
4  m a r q p i e u n x f o y z s t

In [4]:
df["Position correct"] = ""
df

,Name,Experiment,Trial,Sequence,Recall,Position correct
0,julie,FR,1,a t v h q c x b j i g r o p u,o p u b i g x a t d n,
1,julie,FR,2,r a x t n q z o c p e s m u f,p e s m u f x r a s p q d z,
2,julie,FR,3,c n y d x e h u a j s i k r g,j s i g r x z e b c h s u,
3,julie,FR,4,k m f h t q o l j z u y d r a,k m f h u d l y e g c n p a,
4,julie,FR,1,m a r q f o y n x z p b i e u,m a r q p i e u n x f o y z s t,
...,...,...,...,...,...,...
456,av,FR_pause,16,s z g c i l k d u e b t f o x,b t d u e c i l x,
457,av,FR_pause,17,x c b o v p z k s f i h d u n,d u n h f a,
458,av,FR_pause,18,x o m l p j t i s e v u n d a,x o u a m n s p,
459,av,FR_pause,19,g x b d h o j r m p z c i l f,i z n p f x g,
460,av,FR_pause,20,f m j v g b y h p u z o c d x,y z h j x f m,

In [5]:
for s, r in zip(df["Sequence"], df["Recall"]):
    s = s.split()
    r = r.split()

    for i in range(len(s)):
        if s[i] in r:
            df["Position correct"] += str(i)


df

,Name,Experiment,Trial,Sequence,Recall,Position correct
0,julie,FR,1,a t v h q c x b j i g r o p u,o p u b i g x a t d n,0167910121314012569101112131404567910111314012...
1,julie,FR,2,r a x t n q z o c p e s m u f,p e s m u f x r a s p q d z,0167910121314012569101112131404567910111314012...
2,julie,FR,3,c n y d x e h u a j s i k r g,j s i g r x z e b c h s u,0167910121314012569101112131404567910111314012...
3,julie,FR,4,k m f h t q o l j z u y d r a,k m f h u d l y e g c n p a,0167910121314012569101112131404567910111314012...
4,julie,FR,1,m a r q f o y n x z p b i e u,m a r q p i e u n x f o y z s t,0167910121314012569101112131404567910111314012...
...,...,...,...,...,...,...
456,av,FR_pause,16,s z g c i l k d u e b t f o x,b t d u e c i l x,0167910121314012569101112131404567910111314012...
457,av,FR_pause,17,x c b o v p z k s f i h d u n,d u n h f a,0167910121314012569101112131404567910111314012...
458,av,FR_pause,18,x o m l p j t i s e v u n d a,x o u a m n s p,0167910121314012569101112131404567910111314012...
459,av,FR_pause,19,g x b d h o j r m p z c i l f,i z n p f x g,0167910121314012569101112131404567910111314012...
460,av,FR_pause,20,f m j v g b y h p u z o c d x,y z h j x f m,0167910121314012569101112131404567910111314012...