In [1]:
import pandas as pd

# Merge and read csv_files

In [2]:
import pandas as pd
import glob
import os

# Path to your folder
folder_path = "csv.files"

# Find all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Read and concatenate all CSVs into one DataFrame
df = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True)

# Show the combined DataFrame
print(df.head())

,Name,Experiment,Trial,Sequence,Recall
0,julie,FR,1,a t v h q c x b j i g r o p u,o p u b i g x a t d n
1,julie,FR,2,r a x t n q z o c p e s m u f,p e s m u f x r a s p q d z
2,julie,FR,3,c n y d x e h u a j s i k r g,j s i g r x z e b c h s u
3,julie,FR,4,k m f h t q o l j z u y d r a,k m f h u d l y e g c n p a
4,julie,FR,1,m a r q f o y n x z p b i e u,m a r q p i e u n x f o y z s t
...,...,...,...,...,...
155,julie,SR_ladida,16,p f l s q m b e j d r o h a c,p f m l q
156,julie,SR_ladida,17,z x g e k l v y d f q c a t p,z x g e k l
157,julie,SR_ladida,18,i g l u m b e n q o x d c h p,i g l u m b e n
158,julie,SR_ladida,19,n f z i e c a u d b g o q p x,n f z i e r
159,julie,SR_ladida,20,a p i x u e j o d y t c l v r,a p i x u e j o

In [4]:
df["Position correct"] = ""
df

,Name,Experiment,Trial,Sequence,Recall,Position correct
0,julie,FR,1,a t v h q c x b j i g r o p u,o p u b i g x a t d n,
1,julie,FR,2,r a x t n q z o c p e s m u f,p e s m u f x r a s p q d z,
2,julie,FR,3,c n y d x e h u a j s i k r g,j s i g r x z e b c h s u,
3,julie,FR,4,k m f h t q o l j z u y d r a,k m f h u d l y e g c n p a,
4,julie,FR,1,m a r q f o y n x z p b i e u,m a r q p i e u n x f o y z s t,
...,...,...,...,...,...,...
155,julie,SR_ladida,16,p f l s q m b e j d r o h a c,p f m l q,
156,julie,SR_ladida,17,z x g e k l v y d f q c a t p,z x g e k l,
157,julie,SR_ladida,18,i g l u m b e n q o x d c h p,i g l u m b e n,
158,julie,SR_ladida,19,n f z i e c a u d b g o q p x,n f z i e r,
159,julie,SR_ladida,20,a p i x u e j o d y t c l v r,a p i x u e j o,

In [6]:
for s, r in zip(df["Sequence"], df["Recall"]):
    s = s.split()
    r = r.split()

    for i in range(len(s)):
        if s[i] in r:
            df["Position correct"] += str(i)


df

,Name,Experiment,Trial,Sequence,Recall,Position correct
0,julie,FR,1,a t v h q c x b j i g r o p u,o p u b i g x a t d n,0167910121314012569101112131404567910111314012...
1,julie,FR,2,r a x t n q z o c p e s m u f,p e s m u f x r a s p q d z,0167910121314012569101112131404567910111314012...
2,julie,FR,3,c n y d x e h u a j s i k r g,j s i g r x z e b c h s u,0167910121314012569101112131404567910111314012...
3,julie,FR,4,k m f h t q o l j z u y d r a,k m f h u d l y e g c n p a,0167910121314012569101112131404567910111314012...
4,julie,FR,1,m a r q f o y n x z p b i e u,m a r q p i e u n x f o y z s t,0167910121314012569101112131404567910111314012...
...,...,...,...,...,...,...
155,julie,SR_ladida,16,p f l s q m b e j d r o h a c,p f m l q,0167910121314012569101112131404567910111314012...
156,julie,SR_ladida,17,z x g e k l v y d f q c a t p,z x g e k l,0167910121314012569101112131404567910111314012...
157,julie,SR_ladida,18,i g l u m b e n q o x d c h p,i g l u m b e n,0167910121314012569101112131404567910111314012...
158,julie,SR_ladida,19,n f z i e c a u d b g o q p x,n f z i e r,0167910121314012569101112131404567910111314012...
159,julie,SR_ladida,20,a p i x u e j o d y t c l v r,a p i x u e j o,0167910121314012569101112131404567910111314012...