# Merge and read csv_files

In [8]:
import pandas as pd
import glob
import os

# Path to your folder
folder_path = "../../csv_files"

# Find all CSV files in the folder
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Read and concatenate all CSVs into one DataFrame
df = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True)

# Keep only rows where Experiment == "SR"
df = df[df["Experiment"] == "SR_chunking"]

# Show the combined DataFrame
print(df.head())

      Name   Experiment  Trial  \
120  julie  SR_chunking      1
121  julie  SR_chunking      2
122  julie  SR_chunking      3
123  julie  SR_chunking      4
124  julie  SR_chunking      5

                                              Sequence  \
120  see you our boy any yes him out has met act be...
121  met per law far his see few she one job off wi...
122  air get day ago act eat his set pay ask why ye...
123  how not art job six war buy far all air ask ag...
124  hey led ask bit ago boy met run far dog hit ta...

                          Recall
120  see you our boy any yes him
121      met per law far his see
122          air get day ago him
123      how not art job six war
124          hey led ask bit ago

In [9]:
df["points"] = 0   # initialize column
df["fails"] = [[] for _ in range(len(df))]  # initialize fails as empty lists

for idx, row in df.iterrows():
    seq = row["Sequence"].split()
    rec = row["Recall"].split()
    
    points = 0
    fails = []
    mistake_found = False
    
    for s, r in zip(seq, rec):
        if not mistake_found and s == r:
            points += 1
        elif s != r:
            fails.append((s, r))
            mistake_found = True  # lock the points counter
    
    # save results back into df
    df.at[idx, "points"] = points
    df.at[idx, "fails"] = fails

df.head(10)

,Name,Experiment,Trial,Sequence,Recall,points,fails
120,julie,SR_chunking,1,see you our boy any yes him out has met act be...,see you our boy any yes him,7,[]
121,julie,SR_chunking,2,met per law far his see few she one job off wi...,met per law far his see,6,[]
122,julie,SR_chunking,3,air get day ago act eat his set pay ask why ye...,air get day ago him,4,"[(act, him)]"
123,julie,SR_chunking,4,how not art job six war buy far all air ask ag...,how not art job six war,6,[]
124,julie,SR_chunking,5,hey led ask bit ago boy met run far dog hit ta...,hey led ask bit ago,5,[]
125,julie,SR_chunking,6,why say ago art buy hit him out big bit tax da...,why say hello art buy hit,2,"[(ago, hello)]"
126,julie,SR_chunking,7,all way say dog due and bit car put die yet ma...,all way say art due dog,3,"[(dog, art), (and, dog)]"
127,julie,SR_chunking,8,bad six low try his key she way due out fun us...,bad six hit guy met she,2,"[(low, hit), (try, guy), (his, met), (key, she)]"
128,julie,SR_chunking,9,and its own sex hot die off his did put cut th...,and its own hit six his she,3,"[(sex, hit), (hot, six), (die, his), (off, she)]"
129,julie,SR_chunking,10,men yes say led son why out law car mom day ne...,men yes say led son,5,[]